<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a demo</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;hello world&quot;
curl -v -X POST -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;Image&quot;: &quot;slave&quot;}&apos; http://172.17.0.1:2376/containers/create?name=slave-test
curl -v -X POST -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test/start
curl -v -X POST -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test/stop
curl -v -X DELETE -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>