<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a demo</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>wgaprf</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>xvfb-run pybot -d /home/jenkins/data/reports --listener &apos;allure_robotframework;./allure-results&apos; /home/jenkins/data/test.txt
#curl -v -X POST -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;Image&quot;: &quot;slave&quot;}&apos; http://172.17.0.1:2376/containers/create?name=slave-test
#curl -v -X POST -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test/start
#curl -v -X POST -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test/stop
#curl -v -X DELETE -H &quot;Content-Type: application/json&quot; http://172.17.0.1:2376/containers/slave-test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <ru.yandex.qatools.allure.jenkins.AllureReportPublisher plugin="allure-jenkins-plugin@2.26.0">
      <jdk></jdk>
      <properties/>
      <results>
        <ru.yandex.qatools.allure.jenkins.config.ResultsConfig>
          <path>allure-results</path>
        </ru.yandex.qatools.allure.jenkins.config.ResultsConfig>
      </results>
      <reportBuildPolicy>ALWAYS</reportBuildPolicy>
      <includeProperties>false</includeProperties>
      <disabled>false</disabled>
      <report>allure-report</report>
    </ru.yandex.qatools.allure.jenkins.AllureReportPublisher>
    <hudson.plugins.robot.RobotPublisher plugin="robot@1.6.4">
      <outputPath>/home/jenkins/data/reports</outputPath>
      <reportFileName>report.html</reportFileName>
      <logFileName>log.html</logFileName>
      <outputFileName>output.xml</outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>100.0</passThreshold>
      <unstableThreshold>90.0</unstableThreshold>
      <otherFiles>
        <string></string>
      </otherFiles>
      <enableCache>true</enableCache>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
  </publishers>
  <buildWrappers/>
</project>